body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  font-family: 'Inter', sans-serif;
}

.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-tw {
  margin-bottom: 25px;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #b6b6b6be;
  padding: 20px 30px;
}

.form-login h2 {
  margin-top: 0;
  color: #232328;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  font-family: 'Inter', sans-serif

}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-field input {
  height: 35px;
  width: 350px;
  background-color: #f8fafc;
  border: solid 1px #b6b6b6be;
  border-radius: 4px;
  padding: 3px;
}

.form-field input:focus {
  outline: none;
}

.password-field {
  display: flex;
  justify-content: space-between;
}

.password-field a {
  color: #205bc4;
  text-decoration: none;
  font-size: 0.9rem;
}

.form-content button {
  width: 100%;
  height: 35px;
  background-color: #2fb344;
  border: none;
  border-radius: 4px;
}

.form-content button:hover {
  background-color: #2aa13d;
  transition: 0.5s;
}

.divisor {
  display: flex;
  align-items: center;
  gap: 3px;
}

hr {
  width: 100px;
  opacity: 0.6;
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border: solid 1px #b6b6b6be;
  border-radius: 4px;
  color: #232328;
  text-decoration: none;
  padding: 5px;
}

.google-login:hover {
  border-color: rgba(0, 0, 0, 0.32);
  transition: 0.5s;
}

.form-content p {
  color: #232328;
  text-align: center;
  font-size: 0.9rem;
}

.form-content p a {
  color: #205bc4;
  text-decoration: none;
}